

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
   color: whitesmoke;
   background-color: black;
}

header {
    background-color:black;
    color: white;
    padding: 10px 0;
    position: sticky;
    width: 100%;
    z-index: 0;
    
}

header nav, header h1{position:fixed;}

header h1{z-index: -1;opacity: .5;}
nav a {
    
    transition: all .5s ease-in-out 0s;
}
nav a:active{
    transition: all .5s ease-in-out 0s;
    color: aqua;
    
}
nav a:hover{
   
    color: aqua;
    font-size: 150%;
}

.alejandro-logo{width: 100%;
    height: 100%;}

.svgs {display: flex;align-items: center;}


.svg1-container{
    width: 49%;
    height: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 30px;
    margin-top: 4%;
   
}

.svg2-container{
    width: 50%;
    height: auto;
   
   margin-left:50%;
   margin-top:4%;
  z-index: -1;
 
}
#textAle{
    letter-spacing: 2.5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    box-sizing: border-box;
 
    padding: 20px;
    max-width: 49%;
    float: left;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.323);
  
}

section {
    margin-bottom: 20px;
    text-align: center;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

 .react:hover{color: #1179d4;}
.angular:hover{color: rgb(246, 13, 32);}
.vue:hover{color: rgb(53, 238, 158);}
.node:hover{color: rgb(154, 245, 177);}
.php:hover{color: rgb(110, 173, 229);}
.js:hover{color: rgb(234, 236, 88);}

.soMe-container{text-align: center;}
.soMeLinks{margin: 20px;}

footer {
    background-color: #3333339b;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    
    

}
.soMeLinks a{ color: darkcyan; }
#aside-window{float: right;
width: 50%;
height: 200vw; 
background-color: rgba(34, 34, 34, 0.023);
z-index: 1;
}

.dividers{width: 98%;
    height: 2px;
background-color: #333;
margin:8px;}


.framework-icons{padding: 20px}
.framework-icons i{width: 50px;font-size: 36px}


#last-btn {margin-top: 10%;}

aside h1 {
    margin: 8px;
}
#theFirstImage{opacity: .8;}

#theSecondImage{opacity: .7; animation-name: wheel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
width: 100%;

}
@keyframes wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
 }
 

 #theSecondImage:hover {opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));

 }

 .iframesRow {display: flex;}
 

.words1{margin-left: 15px; }

#survey{height: 800px; }

#contact {text-align: center;height: 400px; padding: 10%;background-color: black}
#form {width:100%;height:100%; }

.item1 {margin: 40px auto; }
.item2 {margin: 40px auto;}
.item3 {margin: 40px auto; }

.item3 label {display: block;}

/* ---------animation-------- */






    .char{
        font-size: 50px;
        animation-name: letter;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes letter {
        
       0% {
       color: white;}
        50%{color:yellow;}
       100% {    color: white;
        }
        }

        .oo {background-color: #81CFB8; color:black}

        /* ----------------------------big animation----------- */
        #canvas1 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* background: radial-gradient(#8cff92, #56ff40); */
            background-color: rgba(7, 7, 7, 0.243);
            z-index: -2;
            color: white;
          }

           /* ---------------------------responsive----------- */

           @media only screen and (max-width: 720px){
            header nav, header h1{display: none;}
            .iframesRow {display: none}
            .item1 {width:90%;}
            .item2 {width:90%;}
            .words1 span{font-size: 20px; }

            .one {display: none; }
           }